h1.ag-active::before,
h2.ag-active::before,
h3.ag-active::before,
h4.ag-active::before,
h5.ag-active::before,
h6.ag-active::before {
  content: attr(data-head);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  color: #ddd;
  transform: scale(.7);
  font-weight: 100;
}
a {
  pointer-events: none;
}

p:not(.ag-active)[data-role="hr"] {
  position: relative;
  color: transparent;
}

p:not(.ag-active)[data-role="hr"]::before {
  content: '';
  width: 100%;
  height: 5px;
  background: gainsboro;
  position: absolute;
  bottom: -2px;
}

p:not(.ag-active)[data-role="hr"] * {
  color: transparent;
}

#ag-editor-id > pre {
  position: relative;
}

img {
  max-width: 100%;
}

hr {
  cursor: default;
}

.ag-float-box {
  position: absolute;
  display: none;
  opacity: 0;
  height: 168px;
  min-width: 130px;
  max-width: 150px;
  margin: 0;
  padding: 0;
  border: 1px solid #dfe2e5;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(27,31,35,0.1);
  list-style: none;
  transform: scale(0);
  transition: transform, opacity .5s ease-out;
  overflow: auto;
  background: #fff;
  z-index: 10000;
}

.ag-show-float-box {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.ag-float-item {
  padding: 0 .5em;
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  border-bottom: 1px solid #dfe2e5;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  font-weight: 400;
}

.ag-float-item span:nth-of-type(2n) {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.ag-float-box:hover .ag-float-item-active {
   background: #fff;
   color: #000;
}
.ag-float-item-active, .ag-float-box .ag-float-item:hover {
  background: #9099A2;
  color: #fff;
}

.ag-float-item-icon {
  font-size: 22px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}
a.ag-emoji-marked-text {
  position: relative;
  color: aqua;
  text-decoration: none;
}

.ag-emoji-marked-text[data-emoji] {
  margin-left: 1.3em;
}

.ag-hide.ag-emoji-marked-text[data-emoji] {
  overflow: visible;
  white-space: nowrap;
  color: transparent;
}

.ag-emoji-marked-text::before {
  position: absolute;
  content: attr(data-emoji);
  color: #000;
  top: 0;
  left: -1.15em;
}

.ag-language-input {
  display: none;
  min-width: 80px;
  position: absolute;
  font-size: .85em;
  top: 5px;
  right: 5px;
  color: #9e9e9e;
  background: transparent;
  border: none;
  text-align: center;
}
pre.ag-active .ag-language-input {
  display: block;
}

#ag-editor-id, [contenteditable] {
	outline: none;
  caret-color: #333;
}
.ag-gray {
  color: lavender;
  text-decoration: none;
}

.ag-link-in-bracket, .ag-link-in-bracket .ag-backlash {
  color: darkred;
  text-decoration: none;
}
.ag-language {
  color: #708;
  text-decoration: none;
}
.ag-backlash {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.ag-warn {
  color: #000;
  text-decoration: none;
}
.ag-hide {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.ag-image-marked-text {
  color: black;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  background: azure;
}

.ag-image-marked-text ~ img {
  display: block;
  margin: 0 auto;
}

.ag-image-marked-text::before {
  content: '';
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  vertical-align: middle;
  background: url(./assets/icons/image.svg);
  background-size: contain;
}

.ag-image-marked-text.ag-image-fail::before {
  background-image: url(./assets/icons/imagefail.svg);
}

span[data-role="link"], a[data-role="link"], span[data-role="link"] .ag-backlash {
  color: #0366d6;
  text-decoration: none;
}