@keyframes highlight {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  } /* ignored */
  to {
    transform: scale(1); 
  }
}

h1.ag-active::before,
h2.ag-active::before,
h3.ag-active::before,
h4.ag-active::before,
h5.ag-active::before,
h6.ag-active::before {
  content: attr(data-head);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  border: 1px solid #C0C4CC;
  border-radius: 3px;
  font-size: 12px;
  color: #C0C4CC;
  transform: scale(.7);
  font-weight: 100;
}

*::selection, .ag-selection {
  background: #E4E7ED;
  color: #303133;
}

.ag-highlight {
  animation-name: highlight;
  animation-duration: .25s;
  display: inline-block;
  background: rgb(249, 226, 153);
  color: #303133;
}

span.ag-math {
  position: relative;
  color: purple;
  letter-spacing: 0.1em;
  display: inline-block;
  vertical-align: bottom;
}

.ag-math > .ag-math-render {
  display: inline-block;
  background: rgb(79, 79, 79);
  padding: .3em 1em;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 10;
}

.ag-math > .ag-math-error {
  color: rgba(242, 134, 94, .7);
}

.ag-math > .ag-math-render::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg) translateX(-50%);
  background: rgb(79, 79, 79);
  left: 10px;
  top: -1px;
}

.ag-math > .ag-math-render .katex-display {
  margin: 0;
}

.ag-hide.ag-math {
  width: auto;
  height: auto;
}

.ag-hide.ag-math > span:first-child {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.ag-hide.ag-math > .ag-math-render {
  top: 0;
  position: relative;
  padding: 0;
  color: #000;
  background: transparent;
}

.ag-hide.ag-math > .ag-math-render::before {
  content: none;
}

figure {
  padding: 0;
  margin: 0;
  margin-top: 25px;
  position: relative;
}
.ag-table-tool-bar {
  width: 100%;
  user-select: none;
  position: absolute;
  top: -20px;
  left: 0;
  display: none;
}
.ag-table-tool-bar ul {
  height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.ag-table-tool-bar ul li {
  box-sizing: border-box;
  display: flex;
  width: 18px;
  height: 18px;
  padding: 2px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 3px;
  color: #606266;
}

.ag-table-tool-bar ul li[data-label=delete] {
  color: #E6A23C;
  position: absolute;
  right: 0;
  top: 0;
}

.ag-table-tool-bar ul li.active {
  color: #409eff;
}

.ag-table-tool-bar ul li svg {
  transition: transform .2s ease-in-out;
}

.ag-table-tool-bar ul li:hover svg {
  transform: scale(1.1);
}

figure.ag-active .ag-table-tool-bar {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0;
}

a {
  pointer-events: none;
}

li > h1,
li > h2,
li > h3,
li > h4,
li > h5,
li > h6 {
  display: initial;
}

li.ag-task-list-item {
  list-style-type: none;
  position: relative;
}

li.ag-task-list-item > input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: inherit;
  height: inherit;
  margin: 4px 0px 0px;
  top: 1px;
  left: -20px;
}

li.ag-task-list-item > input.ag-checkbox-checked ~ p {
  color: #909399;
}

li.ag-task-list-item > input[type=checkbox]::before {
  content: '';
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #606266;
  border-radius: 2px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

li.ag-task-list-item > input.ag-checkbox-checked::before {
  border: none;
  background-color: #606266;
}

li.ag-task-list-item > input.ag-checkbox-checked::after {
  content: '';
  transform: rotate(-45deg);
  width: 7px;
  height: 3px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 3px;
}

li p .ag-hide:first-child {
  display: none;
}

p:not(.ag-active)[data-role="hr"] {
  position: relative;
  color: transparent;
}

p:not(.ag-active)[data-role="hr"]::before {
  content: '';
  width: 100%;
  height: 5px;
  background: gainsboro;
  position: absolute;
  bottom: -2px;
}

p:not(.ag-active)[data-role="hr"] * {
  color: transparent;
}
#ag-editor-id figure,
#ag-editor-id pre.ag-code-block {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
}

#ag-editor-id pre .CodeMirror {
  width: 100%;
}

img {
  max-width: 100%;
}

hr {
  cursor: default;
}

span.ag-emoji-marked-text {
  position: relative;
  color: aqua;
  text-decoration: none;
}

.ag-emoji-marked-text[data-emoji] {
  margin-left: 1.3em;
}

.ag-hide.ag-emoji-marked-text[data-emoji] {
  overflow: visible;
  white-space: nowrap;
  color: transparent;
}

.ag-emoji-marked-text::before {
  position: absolute;
  content: attr(data-emoji);
  color: #000;
  top: 0;
  left: -1.15em;
}

.ag-language-input {
  display: none;
  min-width: 80px;
  position: absolute;
  font-size: .85em;
  top: 5px;
  right: 5px;
  color: #606266;
  background: transparent;
  border: none;
  text-align: center;
  z-index: 10;
}

.ag-language-input::placeholder {
  color: #C0C4CC;
}

pre.ag-active .ag-language-input {
  display: block;
}

span.ag-image-marked-text, span.ag-link-in-bracket, span.ag-link-in-bracket .ag-backlash {
  color: rgb(125, 125, 125);
  font-size: 16px;
  text-decoration: none;
  font-family: monospace;
}

.ag-language {
  color: #708;
  text-decoration: none;
}
.ag-backlash {
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.ag-warn {
  color: #000;
  text-decoration: none;
}

.ag-hide, .ag-hide .ag-highlight, .ag-hide .ag-selection {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.ag-image-marked-text ~ img {
  display: block;
  margin: 0 auto;
}

.ag-image-marked-text::before {
  content: '';
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  vertical-align: middle;
  background: url(./assets/icons/image.svg);
  background-size: contain;
}

.ag-image-marked-text.ag-image-fail::before {
  background-image: url(./assets/icons/imagefail.svg);
}

span[data-role="link"], a[data-role="link"], span[data-role="link"] .ag-backlash {
  color: #0366d6;
  text-decoration: none;
}

.ag-focus-mode p.ag-paragraph,
.ag-focus-mode h1.ag-paragraph,
.ag-focus-mode h2.ag-paragraph,
.ag-focus-mode h3.ag-paragraph,
.ag-focus-mode h4.ag-paragraph,
.ag-focus-mode h5.ag-paragraph,
.ag-focus-mode h6.ag-paragraph,
.ag-focus-mode th.ag-paragraph,
.ag-focus-mode td.ag-paragraph,
.ag-focus-mode pre.ag-paragraph {
  opacity: .25;
}

.ag-focus-mode p.ag-active,
.ag-focus-mode h1.ag-active,
.ag-focus-mode h2.ag-active,
.ag-focus-mode h3.ag-active,
.ag-focus-mode h4.ag-active,
.ag-focus-mode h5.ag-active,
.ag-focus-mode h6.ag-active,
.ag-focus-mode th.ag-active,
.ag-focus-mode td.ag-active,
.ag-focus-mode pre.ag-active {
  opacity: 1;
}

