h1.ag-active::before,
h2.ag-active::before,
h3.ag-active::before,
h4.ag-active::before,
h5.ag-active::before,
h6.ag-active::before {
  content: attr(data-head-level);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 22px;
  display: block;
  position: absolute;
  top: 0;
  left: -25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  color: #ddd;
  transform: scale(.7);
  font-weight: 100;
}
a {
  pointer-events: none;
}

.ag-emoji-box {
  position: absolute;
  display: none;
  opacity: 0;
  height: 165px;
  min-width: 180px;
  margin: 0;
  padding: 0;
  border: 1px solid #dfe2e5;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(27,31,35,0.1);
  list-style: none;
  transform: scale(0);
  transition: transform, opacity .5s ease-out;
  overflow: hidden;
  background: #fff;
}

.ag-show-emoji-box {
  display: block;
  opacity: 1;
  transform: scale(1);
}

.ag-emoji-item {
  padding-right: .5em;
  height: 33px;
  line-height: 33px;
  box-sizing: border-box;
  border-bottom: 1px solid #dfe2e5;
  color: #000;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  font-weight: 600;
}

.ag-emoji-item span:nth-of-type(2n) {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.ag-emoji-box:hover .ag-emoji-item-active {
   background: #fff;
   color: #000;
}
.ag-emoji-item-active, .ag-emoji-box .ag-emoji-item:hover {
  background: #0366d6;
  color: #fff;
}

.ag-emoji-item-icon {
  font-size: 22px;
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}
.ag-emoji-marked-text {
  position: relative;
  color: #888;
  text-decoration: none;
}

.ag-emoji-marked-text::before {
  content: attr(data-emoji);
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
}

.hidden.ag-emoji-marked-text {
  width: 1.4em;
  height: 1.15em;
  color: #fff;
}
.hidden.ag-emoji-marked-text::before {
  top: 0;
}

#ag-editor-id {
	outline: none;
  caret-color: #333;
}
.gray {
  color: #bbb;
  text-decoration: none;
}
.ag-warn {
  color: #000;
  text-decoration: none;
}
.hidden {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}