/* Common CSS use by both light and dark themes */
:root {
  --titleBarHeight: 32px;
  --editorAreaWidth: 750px;

  /*editor*/
  /*Theme color cluster*/
  --themeColor: rgba(33, 181, 111, 1);
  --themeColor90: rgba(33, 181, 111, .9);
  --themeColor80: rgba(33, 181, 111, .8);
  --themeColor70: rgba(33, 181, 111, .7);
  --themeColor60: rgba(33, 181, 111, .6);
  --themeColor50: rgba(33, 181, 111, .5);
  --themeColor40: rgba(33, 181, 111, .4);
  --themeColor30: rgba(33, 181, 111, .3);
  --themeColor20: rgba(33, 181, 111, .2);
  --themeColor10: rgba(33, 181, 111, .1);
  --highlightThemeColor: var(--themeColor);

  --highlightColor: rgba(33, 181, 111, .4);
  --selectionColor: rgba(0, 0, 0, .1);
  --editorColor: rgba(0, 0, 0, .7);
  --editorColor80: rgba(0, 0, 0, .8);
  --editorColor60: rgba(0, 0, 0, .6);
  --editorColor50: rgba(0, 0, 0, .5);
  --editorColor40: rgba(0, 0, 0, .4);
  --editorColor30: rgba(0, 0, 0, .3);
  --editorColor10: rgba(0, 0, 0, .1);
  --editorColor04: rgba(0, 0, 0, .03);
  --editorBgColor: rgba(255, 255, 255, 1);
  --deleteColor: #ff6969;
  --iconColor: #6B737B;
  --codeBgColor: #d8d8d869;
  --codeBlockBgColor: rgba(0, 0, 0, 0.03);
  --inputBgColor: rgba(0, 0, 0, .06);
  --focusColor: var(--themeColor);

  --buttonFontColor: var(--editorColor);
  --buttonBgColor: #ffffff;
  --buttonBorder: 1px solid #dcdfe6;
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: linear-gradient(#f9f9f9, #f2f2f2);
  --buttonBorderHover: var(--buttonBorder);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #f0f0f0;
  --buttonBorderActive: var(--buttonBorder);
  --buttonFocusBorder: 1px solid var(--themeColor);

  --buttonPrimaryFontColor: #ffffff;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: var(--buttonPrimaryBgColor);
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: var(--buttonPrimaryBgColor);
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(13, 91, 55, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #e5e5e5;

  /*marktext*/
  --sideBarColor: rgba(0, 0, 0, .6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(0, 0, 0, 1);
  --sideBarTextColor: rgba(0, 0, 0, .4);
  --sideBarBgColor: rgba(242, 242, 242, 0.9);
  --sideBarItemHoverBgColor: rgba(0, 0, 0, .03);
  --itemBgColor: rgba(255, 255, 255, 0.6);

  --floatFontColor: rgba(0, 0, 0, .6);
  --floatBgColor: #fff;
  --floatHoverColor: rgba(0, 0, 0, .04);
  --floatBorderColor: rgba(0, 0, 0, .1);
  --floatShadow: rgba(15, 15, 15, 0.03) 0px 0px 0px 1px, rgba(15, 15, 15, 0.04) 0px 3px 6px, rgba(15, 15, 15, 0.05) 0px 9px 24px;
  --maskColor: rgba(232, 232, 232, .8);

  /* Notification colors */
  --notificationPrimaryColor: #ffffff;
  --notificationPrimaryBg: var(--themeColor);
  --notificationInfoColor: #ffffff;
  --notificationInfoBg: #909399;
  --notificationWarningColor: #ffffff;
  --notificationWarningBg: #ff8800;
  --notificationErrorColor: #ffffff;
  --notificationErrorBg: #ff6969;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background: var(--floatHoverColor);
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--editorColor10);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--editorColor30);
}

:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  background: transparent !important;
  caret-color: var(--editorColor);
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Overwrite Element style */
.el-tooltip__popper {
  background: var(--floatBgColor);
  color: var(--sideBarColor);
  box-shadow: 0 4px 8px 0 var(--floatBorderColor);
  border: solid 1px var(--floatBorderColor);
}

.el-tooltip__popper[x-placement^=left] .popper__arrow {
  border-bottom-color: var(--floatBorderColor);
}
.el-tooltip__popper[x-placement^=left] .popper__arrow::after {
  border-left-color: var(--floatBgColor);
}
.el-tooltip__popper[x-placement^=top] .popper__arrow {
  border-bottom-color: var(--floatBorderColor);
}
.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
  border-top-color: var(--floatBgColor);
}
.el-tooltip__popper[x-placement^=right] .popper__arrow {
  border-bottom-color: var(--floatBorderColor);
}
.el-tooltip__popper[x-placement^=right] .popper__arrow::after {
  border-right-color: var(--floatBgColor);
}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: var(--floatBorderColor);
}
.el-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: var(--floatBgColor);
}

.el-button:hover,
.el-button--primary:hover {
  border-color: unset;
}
.el-button:active,
.el-button--primary:active {
  border-color: unset;
}
.el-button:focus,
.el-button--primary:focus {
  border-color: unset;
}

.el-slider__button {
  border-color: var(--themeColor);
}

.el-slider__bar {
  background-color: var(--themeColor);
}

.el-dialog,
.el-dialog.ag-dialog-table {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--floatBorderColor);
  border: solid 1px var(--floatBorderColor);
  background-color: var(--floatBgColor);
}
.el-dialog__header {
  position: relative;
  display: block;
  padding: 8px 6px !important;
}

input.el-input__inner {
  background: var(--inputBgColor);
}

.el-tabs__nav-wrap::after {
  background: var(--editorColor04);
}

div.el-tabs__item {
  color: var(--editorColor);
}

div.el-tab-pane {
  color: var(--editorColor);
  font-size: 14px;
}

.ag-dialog-table .dialog-title svg {
  width: 1.5em;
  height: 1.5em;
}

.ag-underdevelop {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}

.button,
.muya-button,
.el-button {
  cursor: pointer;
  text-decoration: none;
  color: var(--buttonFontColor);
  background: var(--buttonBgColor);
  border: var(--buttonBorder);
  border-radius: 5px;
  box-shadow: var(--buttonShadow);
  padding: 7px 14px;
}
.button:hover,
.muya-button:hover,
.el-button:hover {
  color: var(--buttonFontColorHover);
  background: var(--buttonBgColorHover);
  border: var(--buttonBorderHover);
}
.button:active,
.muya-button:active,
.el-button:active {
  color: var(--buttonFontColorActive);
  background: var(--buttonBgColorActive);
  border: var(--buttonBorderActive);
}
.button:focus,
.muya-button:focus,
.el-button:focus {
  outline: none;
  border: var(--buttonFocusBorder);
}

.button-primary,
.muya-button-primary,
.el-button--primary {
  cursor: pointer;
  text-decoration: none;
  color: var(--buttonPrimaryFontColor);
  background: var(--buttonPrimaryBgColor);
  border: var(--buttonPrimaryBorder);
  border-radius: 5px;
  box-shadow: var(--buttonPrimaryShadow);
  padding: 7px 14px;
}
.button-primary:hover,
.muya-button-primary:hover,
.el-button--primary:hover {
  color: var(--buttonPrimaryFontColorHover);
  background: var(--buttonPrimaryBgColorHover);
  border: var(--buttonPrimaryBorderHover);
}
.button-primary:active,
.muya-button-primary:active,
.el-button--primary:active {
  color: var(--buttonPrimaryFontColorActive);
  background: var(--buttonPrimaryBgColorActive);
  border: var(--buttonPrimaryBorderActive);
}
button.button-primary:not(.custom):focus,
.button-primary:focus,
.muya-button-primary:focus,
.el-button--primary:focus {
  outline: none;
  border: var(--buttonPrimaryFocusBorder);
  box-shadow: var(--buttonPrimaryFocusShadow);
}

.button.disabled,
.button[disabled],
.muya-button.disabled,
.muya-button[disabled],
.el-button.disabled,
.el-button[disabled],
.button-primary.disabled,
.button-primary[disabled],
.el-button--primary.disabled,
.el-button--primary[disabled] {
  cursor: not-allowed !important;
  opacity: .65 !important;
  box-shadow: none !important;
}

.button.small,
.muya-button.small,
.el-button.small,
.button-primary.small,
.muya-button-primary.small,
.el-button--primary.small {
  padding: 5px 8px;
}
.button.tiny,
.muya-button.tiny,
.el-button.tiny,
.button-primary.tiny,
.muya-button-primary.tiny,
.el-button--primary.tiny {
  font-size: 13px;
  padding: 4px 7px;
}

.button-group {
  /* Remove space between buttons */
  font-size: 0;
}
.button-group > button:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-left: 0;
  border-right: none;
}
.button-group > button:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: none;
}
.button-group > button:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-right: 0;
}

/* Overwrite element UI button padding */
.el-button,
.el-button--primary {
  padding: 7px 14px;
}
.el-button:focus {
  background-color: var(--buttonBgColor);
}
.el-button--primary:focus {
  background-color: var(--buttonPrimaryBgColor);
}
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  color: var(--buttonFontColor);
  background: var(--buttonBgColor);
  border: var(--buttonBorder);
  box-shadow: none;
}
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: var(--buttonPrimaryFontColor);
  background: var(--buttonPrimaryBgColor);
  border: var(--buttonPrimaryBorder);
  box-shadow: none;
}
