/* Common CSS use by both light and dark themes */
:root {
  --titleBarHeight: 32px;
  --editorAreaWidth: 750px;

  /*editor*/
  /*Theme color cluster*/
  --themeColor: rgba(33, 181, 111, 1);
  --themeColor90: rgba(33, 181, 111, .9);
  --themeColor80: rgba(33, 181, 111, .8);
  --themeColor70: rgba(33, 181, 111, .7);
  --themeColor60: rgba(33, 181, 111, .6);
  --themeColor50: rgba(33, 181, 111, .5);
  --themeColor40: rgba(33, 181, 111, .4);
  --themeColor30: rgba(33, 181, 111, .3);
  --themeColor20: rgba(33, 181, 111, .2);
  --themeColor10: rgba(33, 181, 111, .1);

  --highlightColor: rgba(33, 181, 111, .4);
  --selectionColor: rgba(0, 0, 0, .1);
  --editorColor: rgba(0, 0, 0, .7);
  --editorColor80: rgba(0, 0, 0, .8);
  --editorColor60: rgba(0, 0, 0, .6);
  --editorColor50: rgba(0, 0, 0, .5);
  --editorColor40: rgba(0, 0, 0, .4);
  --editorColor30: rgba(0, 0, 0, .3);
  --editorColor10: rgba(0, 0, 0, .1);
  --editorColor04: rgba(0, 0, 0, .03);
  --editorBgColor: rgba(255, 255, 255, 1);
  --deleteColor: #ff6969;
  --iconColor: #6B737B;
  --codeBgColor: #d8d8d869;
  --codeBlockBgColor: rgba(0, 0, 0, 0.03);
  --inputBgColor: rgba(0, 0, 0, .06);
  --buttonBgColor: #ffffff;
  --buttonBorderColor: rgba(0, 0, 0, 0.2);
  --buttonShadow: rgba(0, 0, 0, 0.12);
  --buttonHover: #f2f2f2;
  --buttonActive: #e5e5e5;

  /*marktext*/
  --sideBarColor: rgba(0, 0, 0, .6);
  --sideBarTitleColor: rgba(0, 0, 0, 1);
  --sideBarTextColor: rgba(0, 0, 0, .4);
  --sideBarBgColor: rgba(242, 242, 242, 0.9);
  --sideBarItemHoverBgColor: rgba(0, 0, 0, .03);
  --itemBgColor: rgba(255, 255, 255, 0.6);
  --floatBgColor: #fff;
  --floatHoverColor: rgba(0, 0, 0, .04);
  --floatBorderColor: rgba(0, 0, 0, .1);
  --floatShadow: rgba(15, 15, 15, 0.03) 0px 0px 0px 1px, rgba(15, 15, 15, 0.04) 0px 3px 6px, rgba(15, 15, 15, 0.05) 0px 9px 24px;
  --maskColor: rgba(255, 255, 255, .7);
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background: var(--floatHoverColor);
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--editorColor10);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--editorColor30);
}

html, body {
  margin: 0;
  padding: 0;
  background: transparent !important;
  caret-color: var(--editorColor);
}

body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* cover Element style*/
.el-tooltip__popper.is-dark {
  background: var(--floatBgColor);
  color: var(--sideBarColor);
  box-shadow: 0 4px 8px 0 var(--floatBorderColor);
  border: solid 1px var(--floatBorderColor);
}

.el-slider__button {
  border-color: var(--themeColor);
}

.el-slider__bar {
  background-color: var(--themeColor);
}

.el-dialog.ag-dialog-table {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 var(--floatBorderColor);
  border: solid 1px var(--floatBorderColor);
  background-color: var(--floatBgColor);
}

input.el-input__inner {
  background: var(--inputBgColor);
}

.el-tabs__nav-wrap::after {
  background: var(--editorColor04);
}

div.el-tabs__item {
  color: var(--editorColor);
}

div.el-tab-pane {
  color: var(--editorColor);
  font-size: 14px;
}

.ag-dialog-table .dialog-title svg {
  width: 1.5em;
  height: 1.5em;
}

.ag-underdevelop {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}
