:root {
  --primary: #409eff;
  --info: #909399;
  --warning: rgb(255, 130, 0);
  --error: rgb(242, 19, 93); 
  --lightBarColor: rgb(245, 245, 245);
  --lightTabColor: rgb(243, 243, 243);
  --darkBgColor: rgb(45, 45, 45);
  --darkInputBgColor: rgb(54, 55, 49);
  --darkInputColor: rgb(255, 255, 255);
  --darkHoverColor: rgb(70, 70, 70);
  --titleBarHeight: 25px;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
