body article.print-container {
  display: none;
}
@media print {
  .editor-container {
    display: none !important;
  }

  /* General rules for printing. */
  html, body {
    position: relative !important;
    width: 100% !important;
    display: block !important;
    height: auto !important;
    background: transparent !important;
    overflow: hidden;
  }

  body {
    position: relative !important;
    height: auto !important;
  }

  body > div {
    display: none !important;
  }

  body article.print-container {
    display: block;
  }
  body article.print-container {
    height: 100%;
  }
  body article.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
  }
  body article.markdown-body table {
    display: table;
  }
  body article.markdown-body input[type="checkbox"] ~ p {
    margin-top: 0;
    display: inline-block;
  }
  .markdown-body pre code.fenced-code-block {
    white-space: pre-wrap;
    word-break: break-word;
  }
  body article.markdown-body .flowchart,
  body article.markdown-body .sequence,
  body article.markdown-body .mermaid,
  body article.markdown-body .vega-embed {
    text-align: center;
  }
  body article.markdown-body .flowchart > svg,
  body article.markdown-body .sequence > svg,
  body article.markdown-body .mermaid > svg,
  body article.markdown-body .vega-embed > svg {
    max-width: 100%;
  }
  @media (max-width: 767px) {
    body article.markdown-body {
      padding: 15px;
    }
  }
}
