{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 12 }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 12 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": false,
          "useBuiltIns": true,
          "targets": {
            "browsers": [
              "Chrome >= 66"
            ]
          }
        }],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "stage-0"
      ]
    }
  },
  "plugins": [["component", {
      "style": false,
      "libraryName": "element-ui"
    }
  ], "transform-runtime"]
}
