.DS_Store
dist/electron/*
dist/web/*
build/*
static/themes/*
src/muya/dist/
src/muya/node_modules/
coverage
.vscode
node_modules/
npm-debug.log
npm-debug.log.*
yarn-error.log
thumbs.db
!.gitkeep
.idea
