[Desktop Entry]
Name=Mark Text
Comment=Next generation markdown editor
Exec=marktext %F
Terminal=false
Type=Application
Icon=marktext
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;
Keywords=marktext;
StartupWMClass=marktext
