/*
 * Prism.js Ayu Light Theme
 * Based on https://github.com/ayu-theme/ayu-colors
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #575f66;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #f0f0f0;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #abb0b6;
}

.token.punctuation {
  color: #575f66;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f07171;
}

.token.boolean,
.token.number {
  color: #a37acc;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #86b300;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #4cbf99;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f2ae49;
}

.token.keyword {
  color: #fa8d3e;
}

.token.regex,
.token.important,
.token.variable {
  color: #399ee6;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
