/*
 * Prism.js Kanagawa Theme
 * Based on https://github.com/rebelot/kanagawa.nvim
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #dcd7ba;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #1f1f28;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #727169;
}

.token.punctuation {
  color: #9cabca;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c34043;
}

.token.boolean,
.token.number {
  color: #d27e99;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #98bb6c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #7fb4ca;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #7e9cd8;
}

.token.keyword {
  color: #957fb8;
}

.token.regex,
.token.important,
.token.variable {
  color: #e6c384;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
