/*
 * Prism.js Rosé Pine Dawn Theme (Light)
 * Based on https://rosepinetheme.com
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #575279;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #f2e9e1;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #9893a5;
}

.token.punctuation {
  color: #797593;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b4637a;
}

.token.boolean,
.token.number {
  color: #d7827e;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ea9d34;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56949f;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #286983;
}

.token.keyword {
  color: #907aa9;
}

.token.regex,
.token.important,
.token.variable {
  color: #b4637a;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
