/*
 * Prism.js Solarized Dark Theme
 * Based on https://ethanschoonover.com/solarized/
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #839496;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #002b36;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #586e75;
}

.token.punctuation {
  color: #93a1a1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #268bd2;
}

.token.boolean,
.token.number {
  color: #d33682;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #2aa198;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #cb4b16;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #b58900;
}

.token.keyword {
  color: #859900;
}

.token.regex,
.token.important,
.token.variable {
  color: #cb4b16;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
