:root {
  /*editor*/
  --themeColor: #f48237;
  --themeColor90: rgba(244, 130, 55, .9);
  --themeColor80: rgba(244, 130, 55, .8);
  --themeColor70: rgba(244, 130, 55, .7);
  --themeColor60: rgba(244, 130, 55, .6);
  --themeColor50: rgba(244, 130, 55, .5);
  --themeColor40: rgba(244, 130, 55, .4);
  --themeColor30: rgba(244, 130, 55, .3);
  --themeColor20: rgba(244, 130, 55, .2);
  --themeColor10: rgba(244, 130, 55, .1);

  --highlightColor: rgba(244, 130, 55, .4);
  --selectionColor: rgba(255, 255, 255, .2);
  --editorColor: rgba(171, 178, 191, .8);
  --editorColor80: rgba(171, 178, 191, 1);
  --editorColor50: rgba(171, 178, 191, .9);
  --editorColor30: rgba(171, 178, 191, .8);
  --editorColor10: rgba(171, 178, 191, .5);
  --editorColor04: rgba(171, 178, 191, .04);
  --editorBgColor: #34393f;
  --deleteColor: #ff6969;
  --iconColor: rgba(255, 255, 255, .8);
  --codeBgColor: #d8d8d869;
  --codeBlockBgColor: #3f454c;

  /*marktext*/
  --sideBarColor: rgba(255, 255, 255, .6);
  --sideBarTitleColor: rgba(255, 255, 255, 1);
  --sideBarTextColor: rgba(255, 255, 255, .4);
  --sideBarBgColor: rgba(26, 33, 41, 0.9);
  --sideBarItemHoverBgColor: rgba(255, 255, 255, .03);
  --itemBgColor: rgba(71, 78, 86, 0.6);
  --floatBgColor: #3c4650;
  --floatHoverColor: rgba(255, 255, 255, .04);
  --floatBorderColor: rgba(0, 0, 0, .03);
  --floatShadow: rgba(0, 0, 0, 0.2);
  --maskColor: rgba(0, 0, 0, .7);
  --editorAreaWidth: 700px;
}

.ag-front-menu .submenu,
.ag-float-wrapper {
  box-shadow: 0 4px 8px 0 var(--floatShadow) !important;
}

.title-bar .frameless-titlebar-button > div > svg {
  fill: #ffffff;
}
.title-bar .frameless-titlebar-minimize:hover,
.title-bar .frameless-titlebar-toggle:hover {
  background-color: rgb(255, 255, 255, .05);
}

.tabs-container > li {
  background: none !important;
}
.tabs-container > li.active {
  background: var(--floatBgColor) !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}
figure.ag-active.ag-container-block > div.ag-container-preview {
  box-shadow: 0 3px 8px 0 var(--floatShadow) !important;
}

/*.ag-image-marked-text::before {
  background: url(../lib/assets/icons/image_dark.png);
}

.ag-image-marked-text.ag-image-fail::before {
  background-image: url(../lib/assets/icons/image_dark_fail.png);
}*/

/*
 * Prism.js theme (override light theme)
 */

/*
@import url("prismjs/dark.theme.css");
*/
