/*
 * Prism.js Ayu Mirage Theme
 * Based on https://github.com/ayu-theme/ayu-colors
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #cbccc6;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #272d38;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6773;
}

.token.punctuation {
  color: #cbccc6;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f28779;
}

.token.boolean,
.token.number {
  color: #ffad66;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #bae67e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #95e6cb;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #ffd580;
}

.token.keyword {
  color: #ffcc66;
}

.token.regex,
.token.important,
.token.variable {
  color: #73d0ff;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
