/*
 * Prism.js Everforest Light Theme
 * Based on https://github.com/sainnhe/everforest
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #5c6a72;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #f4f0d9;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #939f91;
}

.token.punctuation {
  color: #5c6a72;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f85552;
}

.token.boolean,
.token.number {
  color: #df69ba;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #8da101;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #35a77c;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #dfa000;
}

.token.keyword {
  color: #f57d26;
}

.token.regex,
.token.important,
.token.variable {
  color: #3a94c5;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
