/*
 * Prism.js Palenight Theme
 * Based on Material Palenight
 */

code[class*='language-'],
pre.ag-paragraph {
  color: #a6accd;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: visible;
}

pre.ag-paragraph {
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre.ag-paragraph {
  background: #292d3e;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #676e95;
}

.token.punctuation {
  color: #89ddff;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f07178;
}

.token.boolean,
.token.number {
  color: #f78c6c;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #c3e88d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #89ddff;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #82aaff;
}

.token.keyword {
  color: #c792ea;
}

.token.regex,
.token.important,
.token.variable {
  color: #ffcb6b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
