.mu-footnote-tool-container {
    width: 300px;

    border-radius: 5px;
}

.mu-footnote-tool-container .mu-footnote-tool > div {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;

    color: var(--editor-color);
    font-size: 12px;
}

.mu-footnote-tool .text {
    flex: 1;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.mu-footnote-tool .btn {
    display: inline-block;
    width: 40px;

    color: var(--theme-color);
    font-weight: 600;
    text-align: right;

    cursor: pointer;
}

.mu-footnote-tool .btn:hover {
    text-decoration: underline;
}

.mu-footnote-tool .icon-wrapper {
    position: relative;

    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.mu-footnote-tool .icon-wrapper i.icon {
    position: absolute;
    top: 0;

    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    color: var(--icon-color);

    transition: all 0.25s ease-in-out;
}

.mu-footnote-tool .icon-wrapper i.icon > i[class^='icon-'] {
    position: relative;
    left: -14px;

    display: inline-block;
    width: 100%;
    height: 100%;

    filter: drop-shadow(14px 0 currentcolor);
}
