.ag-table-picker {
  position: absolute;
  font-size: 12px;
  opacity: 0;
  width: 110px;
  height: auto;
  padding: 10px;
  background: #fff;
  top: -1000px;
  right: -1000px;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  transition: opacity .25s ease-in-out;
  transform-origin: top;
  box-sizing: border-box;
}

[x-placement] {
  opacity: 1;
}

.ag-popper-arrow {
  width: 15px;
  height: 15px;
  background: inherit;
  border: 1px solid #ebeef5;
  display: inline-block;
  position: absolute;
  transform: rotate(45deg);
}

[x-placement="bottom-start"] > .ag-popper-arrow {
  border-right: none;
  border-bottom: none;
  top: -9px;
}

[x-placement="top-start"] > .ag-popper-arrow {
  border-left: none;
  border-top: none;
  bottom: -9px;
}

[x-out-of-boundaries] {
  display: none;
}

.ag-table-picker .checker {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.ag-table-picker-row {
  display: flex;
}
.ag-table-picker-cell {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  margin-right: 1px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.ag-table-picker-header span {
  background: #ddd;
}
.ag-table-picker-cell.current {
  background: darkgray;
}
.ag-table-picker-header .current {
  background: #666;
}
.ag-table-picker-cell.selected {
  background: aliceblue;
}
.ag-table-picker-header .selected {
  background: aliceblue;
}
.ag-table-picker-cell:last-of-type {
  margin-right: 0;
}
.ag-table-picker .footer {
  padding-top: 5px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.ag-table-picker .footer input {
  text-align: center;
  border: none;
  padding: 0;
  height: 16px;
  width: 16px;
}
.ag-table-picker .footer button {
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  line-height: 12px;
  border: none;
  height: 16px;
  background: #409eff;
  color: #fff;
}
