/*
 * Open Sans
 * https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=latin-ext
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('./fonts/open-sans-v15-latin_latin-ext-300.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('./fonts/open-sans-v15-latin_latin-ext-300italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./fonts/open-sans-v15-latin_latin-ext-regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('./fonts/open-sans-v15-latin_latin-ext-italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./fonts/open-sans-v15-latin_latin-ext-600.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('./fonts/open-sans-v15-latin_latin-ext-600italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./fonts/open-sans-v15-latin_latin-ext-700.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('./fonts/open-sans-v15-latin_latin-ext-700italic.woff') format('woff');
}

/*
 * DejaVu Sans Mono
 */
@font-face {
  font-family: "DejaVu Sans Mono";
  src: local('DejaVu Sans Mono'), url('./fonts/DejaVuSansMono.ttf');
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-weight: bold;
  src: url('./fonts/DejaVuSansMono-Bold.ttf');
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: oblique;
  font-weight: bold;
  src: url('./fonts/DejaVuSansMono-BoldOblique.ttf');
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/DejaVuSansMono-BoldOblique.ttf');
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: italic;
  src: url('./fonts/DejaVuSansMono-Oblique.ttf');
}
@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: oblique;
  src: url('./fonts/DejaVuSansMono-Oblique.ttf');
}

html, body {
  font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #303133;
  line-height: 1.6;
}

span code,
td code,
th code,
code,
code[class*="language-"],
.CodeMirror,
pre.ag-paragraph {
  font-family: "DejaVu Sans Mono", "Source Code Pro", "Droid Sans Mono", Consolas, monospace;
  font-size: 14px;
}

#ag-editor-id {
  max-width: var(--editorAreaWidth);
  margin: 0 auto;
  padding: 20px 50px 40px 50px;
  padding-top: 20px;
  padding-bottom: 100px;
}

#ag-editor-id, [contenteditable] {
  outline: none;
}

.ag-gray {
  color: var(--editorColor30);
  text-decoration: none;
}

.v-modal {
  backdrop-filter: blur(5px);
  background: var(--floatBorderColor);
}

body>*:first-child {
  margin-top: 0 !important;
}

body>*:last-child {
  margin-bottom: 0 !important;
}

a {
  color: var(--themeColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none;
}

h1 tt,
h1 code {
  font-size: inherit;
}

h2 tt,
h2 code {
  font-size: inherit;
}

h3 tt,
h3 code {
  font-size: inherit;
}

h4 tt,
h4 code {
  font-size: inherit;
}

h5 tt,
h5 code {
  font-size: inherit;
}

h6 tt,
h6 code {
  font-size: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p,
blockquote,
ul,
ol,
dl,
table {
  margin: 0.5em 0;
}

li>ol,
li>ul {
  margin: 0 0;
}

hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}

body>h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

body>h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

body>h1:first-child+h2 {
  margin-top: 0;
  padding-top: 0;
}

body>h3:first-child,
body>h4:first-child,
body>h5:first-child,
body>h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin-top: 0;
}

li.ag-paragraph {
  color: var(--themeColor);
}

li > * {
  color: var(--editorColor);
}

li p.first {
  display: inline-block;
}

li.ag-tight-list-item > p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding-left: 30px;
}

ul:first-child,
ol:first-child {
  margin-top: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

blockquote {
  position: relative;
  padding: 0 30px;
  color: var(--editorColor50);
}

blockquote::before {
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 13px;
  top: 0;
  background: var(--themeColor);
}

blockquote blockquote {
  padding-right: 0;
}

table {
  padding: 0;
  word-break: initial;
}

table tr {
  margin: 0;
  padding: 0;
}

table thead tr,
table tr:nth-child(2n) {
  background-color: var(--codeBlockBgColor);
}

table tr th {
  font-weight: bold;
  border: 1px solid var(--editorColor10);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid var(--editorColor10);
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}

span code,
td code,
th code {
  background-color: var(--codeBlockBgColor);
  border-radius: 3px;
  padding: 0;
  /*font-family: Menlo, Monaco, Consolas, "Courier New", monospace;*/
  padding: 2px 4px 0px 4px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
  color: var(--editorColor);
}

:not(pre) > code[class*="language-"],
pre,
pre[class*="language-"] {
  overflow: visible;
  font-size: 90%;
  line-height: 1.6;
  background: var(--codeBlockBgColor);
  border: 0;
  border-radius: 3px;
  color: var(--editorColor50);
}

@media print {
  html {
    font-size: 13px;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
}

.ag-hide.ag-math > .ag-math-render {
  color: var(--editorColor);
}

blockquote .ag-hide.ag-math > .ag-math-render {
  color: var(--editorColor50);
}

.ag-gray.ag-math > .ag-math-render {
  color: var(--editorColor);
  background: var(--floatBgColor);
  box-shadow: 0 4px 8px 0 var(--floatBorderColor);
}
.ag-gray.ag-math > .ag-math-render::before {
  border-bottom-color: var(--floatBgColor);
}

#ag-editor-id pre.ag-html-block {
  background: transparent;
  padding: 0 .5rem;
  margin-top: 0;
}

#ag-editor-id pre.ag-active.ag-html-block {
  background: var(--codeBlockBgColor);
}

.ag-image-marked-text::before {
  background: url(../lib/assets/icons/image_light.png);
}

.ag-image-marked-text.ag-image-fail::before {
  background-image: url(../lib/assets/icons/image_light_fail.png);
}

/* prismjs default theme */

code[class*="language-"],
pre.ag-paragraph {
   color: black;
   /*font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;*/
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre.ag-paragraph {
   padding: 1em;
   margin: 1em 0;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #999;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol {
   color: #905;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin {
   color: #690;
 }

 .token.inserted {
  color: #22863a;
  background: #f0fff4;
}

.token.deleted {
  color: #b31d28;
  background: #ffeef0;
}
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #9a6e3a;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: #07a;
 }
 
 .token.function,
 .token.class-name {
   color: #DD4A68;
 }
 
 .token.regex,
 .token.important,
 .token.variable {
   color: #e90;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }

 .ag-front-icon {
   fill: var(--editorColor50);
 }

 .ag-front-icon::before {
  border: 3px solid var(--editorColor50);
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
 }
 
