.CodeMirror {
  background: transparent;
  height: auto;
}
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: rgb(178, 215, 254);
}