:root {
  --lightBarColor: rgb(245, 245, 245);
  --lightTabColor: rgb(243, 243, 243);
  --darkBgColor: rgb(45, 45, 45);
  --darkInputBgColor: rgb(54, 55, 49);
  --darkInputColor: rgb(255, 255, 255);
  --darkHoverColor: rgb(70, 70, 70);
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media print {
  html, body {
    background: #fff !important;
  }
  body .editor-component {
    height: auto !important;
  }
  body .editor-wrapper {
    z-index: 1 !important;
  }
  body .source-code {
    display: none !important;
  }
  body .editor-component #ag-editor-id,
  body [contenteditable] {
    caret-color: transparent !important;
  }
  h1.ag-active::before,
  h2.ag-active::before,
  h3.ag-active::before,
  h4.ag-active::before,
  h5.ag-active::before,
  h6.ag-active::before {
    content: none !important;
  }
  .title-bar,
  .ag-remove,
  .ag-emoji-marker,
  .ag-table-tool-bar,
  .CodeMirror-cursors {
    display: none !important;
  }
}